
// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$pcolor: #000000;
$scolor: #000000;
$ocolor: #265495;
$cyancolor: #03a9f4;
$bcolorg: #007a37;
$bcolorb: #1e2b51;
$bcolory: #ffed00;
