// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "variables";
@import '~bootstrap/scss/bootstrap';
@import "custom/style.normal";
@import "sim";
@import "reset";

body {
    background-color: #eee;
    color: #333;
}

.navbar-laravel {
    background-color: $ocolor;
    color: #fff;
    padding: 0;
}
.navbar-brand {
    width: auto;
    height: 70px;

    img {
        margin-top: 10px;
        max-height: 40px;
    }
}
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #ccc;
            font-weight: bold;
            &:hover {
                color: #fff;
            }
        }
    }
}

