* {
    transition: all 0.25s ease-out;
}
.border-cyan {
   border: 3px solid $cyancolor !important;
}
.border-ccc {
    border: 1px solid #ccc !important;
}
.border-e5 {
    border: 1px solid #e5e5e5 !important;
}
label {
    font-weight: bold;
}
